# Bài 5: Giới thiệu về PANDAS


![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

## I. GIỚI THIỆU

### 1. Pandas là gì?

Pandas (viết tắt từ `Panel Data` -  bảng dữ liệu) là thư viện mã nguồn mở phục vụ cho việc phân tích và xử lý dữ liệu trong Python, được phát triển bởi Wes McKinney trong năm 2008. Thư viện này được thiết kế để làm việc dễ dàng và trực quan với dữ liệu có cấu trúc (dạng bảng, đa chiều, ...) và dữ liệu chuỗi thời gian. Hiện nay, Pandas được sử dụng rộng rãi trong cả nghiên cứu lẫn phát triển các ứng dụng về khoa học dữ liệu.  


Pandas trở thành thư viện yêu thích của những nhà phân tích dữ liệu bởi:
- Pandas phù hợp với nhiều loại dữ liệu khác nhau:
    - Dữ liệu dạng bảng, như trong bảng SQL hoặc bảng tính Excel.
    - Dữ liệu chuỗi thời gian theo thứ tự và không có thứ tự.
    - Dữ liệu ma trận tùy ý với nhãn hàng và cột...
- Dễ dàng thao tác, phân tích, xử lý và trực quan hoá dữ liệu:
    - Khả năng xử lý dữ liệu mất mát (NaN,...), nhiễu, ...
    - Khả năng thay đổi kích thước: chèn và xóa cột, dòng
    - Khả năng căn chỉnh dữ liệu tự động và rõ ràng
    - Khả năng phân tách, gộp nối, chuyển đổi, định hình các tập dữ liệu 1 cách linh hoạt giúp cho việc tổng hợp và phân tích dữ liệu nhanh gọn, dễ dàng hơn.
    - Khả năng tải và lưu trữ dữ liệu theo nhiều format khác nhau: .csv, .txt, .excel, .pkl, .hdfs5, ...
    - Khả năng xử lí dữ liệu dạng chuỗi.
    - Khả năng tích hợp tốt với các thư viện khác của Python: SciPy, Matplotlib, Seaborn, Plotly, Sklearn, ...

### 2. Cài đặt

- Cài đặt khi tạo môi trường ảo:

`conda create -n hanh python=3.7 pandas`

- Cài đặt sau khi tạo xong môi trường ảo:

`conda install pandas`
hoặc 
`pip install pandas`

### 3 Import thư viện

In [1]:
import pandas as pd
%config Completer.use_jedi = False

**Reference**: 
- [Pandas Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
- [Python for Data Analysis](https://bedford-computing.co.uk/learning/wp-content/uploads/2015/10/Python-for-Data-Analysis.pdf)

## II. CÁC HÀM CƠ BẢN TRONG PANDAS

### 1. Objects trong Pandas

Trong Pandas, ta có 2 khái niệm:

- **DataFrames**: các bảng dữ liệu bao gồm nhiều hàng và nhiều cột, khởi tạo thông qua câu lệnh `pd.DataFrame()`
- **Series**: cột dữ liệu, khởi tạo thông qua câu lệnh `pd.Series()`

Bảng dữ liệu trong SQL gọi là bảng, Excel gọi là sheet, còn Python gọi đây là 1 DataFrame của Pandas.
Hiểu đơn giản, 1 cái Series là 1 cột của DataFrame. Ở mức máy tính thì Series là 1 object riêng và DataFrame là 1 object riêng. Tuy nhiên, có thể chuyển 1 Series thành DataFrame và chuyển DataFrame 1 cột thành Series.

![](https://media.geeksforgeeks.org/wp-content/cdn-uploads/creating_dataframe1.png)
![](https://analyticssavvy.com/wp-content/uploads/2020/05/series-and-dataframe.png)

#### 2.1 Khởi tạo 1 DataFrame

1. Tạo ra 1 DataFrame rỗng

In [2]:
df = pd.DataFrame() #create an empty dataframe
df

Empty DataFrame
Columns: []
Index: []

In [3]:
type(df)

pandas.core.frame.DataFrame

2. Tạo ra 1 DataFrame từ dict

In [4]:
dict1 = {'name':['MCI','Hanh', 'Long', 'Dat', 'Hoai'],
        'age':[10,11,12,14,15],
        'university':['MIT','Harvard','NYU','Paris13','MCU']}
df1 = pd.DataFrame(dict1, index=[f'student{i}' for i in range(1,6)])
df1

          name  age university
student1   MCI   10        MIT
student2  Hanh   11    Harvard
student3  Long   12        NYU
student4   Dat   14    Paris13
student5  Hoai   15        MCU

3. Tạo ra 1 DataFrame từ list của list

In [5]:
li = [['MCI',10,'MIT'], ['Hanh',11,'Havard']]
df2 = pd.DataFrame(li, columns=['name', 'age', 'university'])
df2

   name  age university
0   MCI   10        MIT
1  Hanh   11     Havard

4. Tạo ra 1 DataFrame từ zip

In [6]:
name = ['Zootop','Hanh', 'Long', 'Dat', 'Hoai']
age = [10,11,12,14,15]
tuple_li = list(zip(name, age))
df3 = pd.DataFrame(tuple_li,columns = ['Name', 'Age'])
df3

   Name  Age
0   MCI   10
1  Hanh   11
2  Long   12
3   Dat   14
4  Hoai   15

5. Tạo từ 1 chuỗi numpy

In [7]:
import numpy as np
df1 = pd.DataFrame(np.linspace(1,16,16).reshape(4,4), columns=['col1', 'col2','col3', 'col4'])
df1 = pd.DataFrame(np.linspace(1,16,16).reshape(4,4), columns=[f'col{i}' for i in range(1,5)])
df1

   col1  col2  col3  col4
0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0
2   9.0  10.0  11.0  12.0
3  13.0  14.0  15.0  16.0

#### 2.2 Khởi tạo 1 Series

In [8]:
series = df2['name'] 
series

0     MCI
1    Hanh
Name: name, dtype: object

In [9]:
series = df2.name
series

0     MCI
1    Hanh
Name: name, dtype: object

**Đố vui**: Vì sao trong Pandas lại có 2 cách khác nhau để gọi 1 cột trong DataFrame?

In [10]:
series1 = pd.Series({'name':[1,2,3]})
series1

name    [1, 2, 3]
dtype: object

In [56]:
series2 = pd.Series(['M','C','I'], index=['Char1', 'Char2','Char3'], name='MCI')
series2

Char1    M
Char2    C
Char3    I
Name: MCI, dtype: object

In [58]:
series2 = pd.Series(np.array(['M','C','I']), index=['Char1', 'Char2','Char3'],name='MCI')
series2

Char1    M
Char2    C
Char3    I
Name: MCI, dtype: object

#### 2.3 Đọc/lưu 1 DataFrame

In [13]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
df.head(5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [14]:
df = pd.read_csv('../Assignments/Day 5/Ecommerce Purchases')
df.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### 2. Indexing

In [15]:
import seaborn as sns

In [16]:
tips_df = sns.load_dataset('tips') #seaborn-data github
tips_df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Chọn tất cả các dòng (slicing):
- `loc`: location `df.loc[row_label,col_label]`, `series.loc[row_label]`
- `iloc`: index location `df.iloc[row_index,col_index]`, `series.iloc[row_index]`

Chọn 1 cell:
- `at`:  `df.at[row_label,col_label]`
- `iat`: `df.iat[row_index,col_index]`

In [17]:
tips_df.loc[1,'total_bill']

10.34

In [18]:
tips_df.loc[:5,:'sex']

   total_bill   tip     sex
0       16.99  1.01  Female
1       10.34  1.66    Male
2       21.01  3.50    Male
3       23.68  3.31    Male
4       24.59  3.61  Female
5       25.29  4.71    Male

In [19]:
tips_df.loc[1,] #tips_df.loc[1]

total_bill     10.34
tip             1.66
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 1, dtype: object

In [20]:
tips_df.iloc[:2,:5]

   total_bill   tip     sex smoker  day
0       16.99  1.01  Female     No  Sun
1       10.34  1.66    Male     No  Sun

In [21]:
tips_df.at[1,'total_bill']

10.34

In [22]:
tips_df.iat[1,0]

10.34

In [23]:
tips_df['total_bill'].to_frame()

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
..          ...
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

[244 rows x 1 columns]

In [24]:
pd.DataFrame(tips_df['total_bill'])

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
..          ...
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

[244 rows x 1 columns]

In [25]:
tips_df[['total_bill']]

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
..          ...
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

[244 rows x 1 columns]

In [26]:
tips_df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
tips_df.tail(5)

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

### 3. Masking

In [28]:
pd.options.display.max_rows = 300

In [29]:
tips_df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
pd.concat([tips_df.head(5),tips_df.tail(5)])

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [31]:
pd.concat([tips_df.iloc[:5],tips_df.iloc[-5:]])

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [32]:
# tips_df[tips_df['sex'] == 'Female']
tips_df.query("sex == 'Female'").head(3)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4

In [33]:
 tips_df[(tips_df['sex'] == 'Female') & (tips_df['smoker'] == 'Yes')].head(3)

    total_bill   tip     sex smoker  day    time  size
67        3.07  1.00  Female    Yes  Sat  Dinner     1
72       26.86  3.14  Female    Yes  Sat  Dinner     2
73       25.28  5.00  Female    Yes  Sat  Dinner     2

### 5. Operations

#### 5.1 Groupby

![](https://blog.dask.org/images/split-apply-combine.png)

In [34]:
tips_df.groupby('sex').total_bill.mean()

sex
Male      20.744076
Female    18.056897
Name: total_bill, dtype: float64

In [35]:
tips_df['total_bill1'] = tips_df['total_bill'] + tips_df['tip']

In [36]:
tips_df.groupby('sex').total_bill1.mean()

sex
Male      23.833694
Female    20.890345
Name: total_bill1, dtype: float64

In [37]:
tips_df.groupby('sex').total_bill1.max()

sex
Male      60.81
Female    48.11
Name: total_bill1, dtype: float64

In [38]:
tips_df.groupby('sex').total_bill1.min()

sex
Male      9.00
Female    4.07
Name: total_bill1, dtype: float64

In [39]:
tips_df.groupby('sex').total_bill1.median()

sex
Male      21.77
Female    18.90
Name: total_bill1, dtype: float64

In [40]:
tips_df.groupby('sex').total_bill1.agg(lambda x:x.value_counts().index[0])

sex
Male      20.0
Female    15.0
Name: total_bill1, dtype: float64

In [41]:
tips_df.groupby('sex').agg({'total_bill':['mean','max'],'tip':['mean','max']})

       total_bill              tip
             mean    max      mean   max
sex
Male    20.744076  50.81  3.089618  10.0
Female  18.056897  44.30  2.833448   6.5

In [42]:
tips_df.groupby('sex').agg(mean_total_bill=('total_bill','mean'))

        mean_total_bill
sex
Male          20.744076
Female        18.056897

In [43]:
tips_df.groupby(['sex','smoker'])[['total_bill','tip']].mean()

               total_bill       tip
sex    smoker
Male   Yes      22.284500  3.051167
       No       19.791237  3.113402
Female Yes      17.977879  2.931515
       No       18.105185  2.773519

#### 5.2 Pivot

In [44]:
tips_df.sex.unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [45]:
tips_df.sex.nunique()

2

In [46]:
tips_df.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [47]:
tips_df.pivot_table(values='total_bill', index='day', columns='time',aggfunc='sum').plot.bar()

In [48]:
tips_df.pivot_table(values='total_bill', index='day', columns='time',aggfunc='sum').plot(kind='bar')

In [49]:
tips_df.pivot_table(values='total_bill', index='time', columns='day',aggfunc='sum').plot(kind='bar')

#### 5.3 Others

|Merge methods| SQL Join Name | Meaning| _merge|
|-|-|-|-|
|left| LEFT OUTER JOIN|Chỉ sử dụng keys bên trái|left_only|
|right| RIGHT OUTER JOIN|Chỉ sử dụng keys bên phải|right_only|
|outer|FULL OUTER JOIN|Sử dụng keys của cả 2 dataframes|both|
|inner|INNER JOIN|Chỉ sử dụng keys giao nhau của 2 dataframes|both|

![](https://lh3.googleusercontent.com/-n76c6dtr5sw/YBO5d-3PzGI/AAAAAAAAAh8/xiT6YIzePLEXArb8uU1f1vgg8JRXYeg8ACLcBGAsYHQ/image.png)

In [50]:
tips_df.sort_values('tip', ascending=False)

     total_bill    tip     sex smoker   day    time  size  total_bill1
170       50.81  10.00    Male    Yes   Sat  Dinner     3        60.81
212       48.33   9.00    Male     No   Sat  Dinner     4        57.33
23        39.42   7.58    Male     No   Sat  Dinner     4        47.00
59        48.27   6.73    Male     No   Sat  Dinner     4        55.00
141       34.30   6.70    Male     No  Thur   Lunch     6        41.00
214       28.17   6.50  Female    Yes   Sat  Dinner     3        34.67
183       23.17   6.50    Male    Yes   Sun  Dinner     4        29.67
47        32.40   6.00    Male     No   Sun  Dinner     4        38.40
239       29.03   5.92    Male     No   Sat  Dinner     3        34.95
88        24.71   5.85    Male     No  Thur   Lunch     2        30.56
181       23.33   5.65    Male    Yes   Sun  Dinner     2        28.98
44        30.40   5.60    Male     No   Sun  Dinner     4        36.00
52        34.81   5.20  Female     No   Sun  Dinner     4        40.01
85        34.83   5.17  Female     No  Thur   Lunch     4        40.00
211       25.89   5.16    Male    Yes   Sat  Dinner     4        31.05
172        7.25   5.15    Male    Yes   Sun  Dinner     2        12.40
155       29.85   5.14  Female     No   Sun  Dinner     5        34.99
116       29.93   5.07    Male     No   Sun  Dinner     4        35.00
39        31.27   5.00    Male     No   Sat  Dinner     3        36.27
142       41.19   5.00    Male     No  Thur   Lunch     5        46.19
46        22.23   5.00    Male     No   Sun  Dinner     2        27.23
185       20.69   5.00    Male     No   Sun  Dinner     5        25.69
83        32.68   5.00    Male    Yes  Thur   Lunch     2        37.68
156       48.17   5.00    Male     No   Sun  Dinner     6        53.17
197       43.11   5.00  Female    Yes  Thur   Lunch     4        48.11
11        35.26   5.00  Female     No   Sun  Dinner     4        40.26
143       27.05   5.00  Female     No  Thur   Lunch     6        32.05
73        25.28   5.00  Female    Yes   Sat  Dinner     2        30.28
95        40.17   4.73    Male    Yes   Fri  Dinner     4        44.90
5         25.29   4.71    Male     No   Sun  Dinner     4        30.00
238       35.83   4.67  Female     No   Sat  Dinner     3        40.50
167       31.71   4.50    Male     No   Sun  Dinner     4        36.21
54        25.56   4.34    Male     No   Sun  Dinner     4        29.90
28        21.70   4.30    Male     No   Sat  Dinner     2        26.00
93        16.32   4.30  Female    Yes   Fri  Dinner     2        20.62
107       25.21   4.29    Male    Yes   Sat  Dinner     2        29.50
125       29.80   4.20  Female     No  Thur   Lunch     6        34.00
191       19.81   4.19  Female    Yes  Thur   Lunch     2        24.00
104       20.92   4.08  Female     No   Sat  Dinner     2        25.00
20        17.92   4.08    Male     No   Sat  Dinner     2        22.00
106       20.49   4.06    Male    Yes   Sat  Dinner     2        24.55
87        18.28   4.00    Male     No  Thur   Lunch     2        22.28
200       18.71   4.00    Male    Yes  Thur   Lunch     3        22.71
194       16.58   4.00    Male    Yes  Thur   Lunch     2        20.58
77        27.20   4.00    Male     No  Thur   Lunch     4        31.20
204       20.53   4.00    Male    Yes  Thur   Lunch     4        24.53
189       23.10   4.00    Male    Yes   Sun  Dinner     3        27.10
114       25.71   4.00  Female     No   Sun  Dinner     3        29.71
96        27.28   4.00    Male    Yes   Fri  Dinner     2        31.28
178        9.60   4.00  Female    Yes   Sun  Dinner     2        13.60
109       14.31   4.00  Female    Yes   Sat  Dinner     2        18.31
174       16.82   4.00    Male    Yes   Sun  Dinner     2        20.82
112       38.07   4.00    Male     No   Sun  Dinner     3        42.07
15        21.58   3.92    Male     No   Sun  Dinner     2        25.50
63        18.29   3.76    Male    Yes   Sat  Dinner     4        22.05
108       18.24   3.76    Male     No   Sat  Dinner     2        22.00
157       25.00   3.75  Female     No   Sun  Dinner     4        28.75
17        16.29   3.71    Male     No   Sun  Dinner     3        20.00
180       34.65   3.68    Male    Yes   Sun  Dinner     4        38.33
4         24.59   3.61  Female     No   Sun  Dinner     4        28.20
35        24.06   3.60    Male     No   Sat  Dinner     3        27.66
179       34.63   3.55    Male    Yes   Sun  Dinner     2        38.18
55        19.49   3.51    Male     No   Sun  Dinner     2        23.00
115       17.31   3.50  Female     No   Sun  Dinner     2        20.81
182       45.35   3.50    Male    Yes   Sun  Dinner     3        48.85
186       20.90   3.50  Female    Yes   Sun  Dinner     3        24.40
188       18.15   3.50  Female    Yes   Sun  Dinner     3        21.65
160       21.50   3.50    Male     No   Sun  Dinner     4        25.00
91        22.49   3.50    Male     No   Fri  Dinner     2        25.99
140       17.47   3.50  Female     No  Thur   Lunch     2        20.97
2         21.01   3.50    Male     No   Sun  Dinner     3        24.51
18        16.97   3.50  Female     No   Sun  Dinner     3        20.47
165       24.52   3.48    Male     No   Sun  Dinner     3        28.00
221       13.42   3.48  Female    Yes   Fri   Lunch     2        16.90
103       22.42   3.48  Female    Yes   Sat  Dinner     2        25.90
206       26.59   3.41    Male    Yes   Sat  Dinner     3        30.00
81        16.66   3.40    Male     No  Thur   Lunch     2        20.06
232       11.61   3.39    Male     No   Sat  Dinner     2        15.00
19        20.65   3.35    Male     No   Sat  Dinner     3        24.00
3         23.68   3.31    Male     No   Sun  Dinner     2        26.99
34        17.78   3.27    Male     No   Sat  Dinner     2        21.05
134       18.26   3.25  Female     No  Thur   Lunch     2        21.51
94        22.75   3.25  Female     No   Fri  Dinner     2        26.00
9         14.78   3.23    Male     No   Sun  Dinner     2        18.01
205       16.47   3.23  Female    Yes  Thur   Lunch     3        19.70
60        20.29   3.21    Male    Yes   Sat  Dinner     2        23.50
24        19.82   3.18    Male     No   Sat  Dinner     2        23.00
173       31.85   3.18    Male    Yes   Sun  Dinner     2        35.03
171       15.81   3.16    Male    Yes   Sat  Dinner     2        18.97
65        20.08   3.15    Male     No   Sat  Dinner     3        23.23
72        26.86   3.14  Female    Yes   Sat  Dinner     2        30.00
7         26.88   3.12    Male     No   Sun  Dinner     4        30.00
175       32.90   3.11    Male    Yes   Sun  Dinner     2        36.01
219       30.14   3.09  Female    Yes   Sat  Dinner     4        33.23
76        17.92   3.08    Male    Yes   Sat  Dinner     2        21.00
37        16.93   3.07  Female     No   Sat  Dinner     3        20.00
42        13.94   3.06    Male     No   Sun  Dinner     2        17.00
14        14.83   3.02  Female     No   Sun  Dinner     2        17.85
231       15.69   3.00    Male    Yes   Sat  Dinner     3        18.69
223       15.98   3.00  Female     No   Fri   Lunch     3        18.98
13        18.43   3.00    Male     No   Sun  Dinner     4        21.43
164       17.51   3.00  Female    Yes   Sun  Dinner     2        20.51
110       14.00   3.00    Male     No   Sat  Dinner     2        17.00
227       20.45   3.00    Male     No   Sat  Dinner     4        23.45
234       15.53   3.00    Male    Yes   Sat  Dinner     2        18.53
29        19.65   3.00  Female     No   Sat  Dinner     2        22.65
243       18.78   3.00  Female     No  Thur  Dinner     2        21.78
71        17.07   3.00  Female     No   Sat  Dinner     3        20.07
90        28.97   3.00    Male    Yes   Fri  Dinner     2        31.97
32        15.06   3.00  Female     No   Sat  Dinner     2        18.06
101       15.38   3.00  Female    Yes   Fri  Dinner     2        18.38
56        38.01   3.00    Male    Yes   Sat  Dinner     4        41.01
98        21.01   3.00    Male    Yes   Fri  Dinner     2        24.01
184       40.55   3.00    Male    Yes   Sun  Dinner     2        43.55
207       38.73   3.00    Male    Yes   Sat  Dinner     4        41.73
78        22.76   3.00    Male     No  Thur   Lunch     2        25.76
216       28.15   3.00    Male    Yes   Sat  Dinner     5        31.15
49        18.04   3.00    Male     No   Sun  Dinner     2        21.04
89        21.16   3.00    Male     No  Thur   Lunch     2        24.16
80        19.44   3.00    Male    Yes  Thur   Lunch     2        22.44
45        18.29   3.00    Male     No   Sun  Dinner     2        21.29
119       24.08   2.92  Female     No  Thur   Lunch     4        27.00
229       22.12   2.88  Female    Yes   Sat  Dinner     2        25.00
131       20.27   2.83  Female     No  Thur   Lunch     2        23.10
21        20.29   2.75  Female     No   Sat  Dinner     2        23.04
139       13.16   2.75  Female     No  Thur   Lunch     2        15.91
152       17.26   2.74    Male     No   Sun  Dinner     3        20.00
228       13.28   2.72    Male     No   Sat  Dinner     2        16.00
79        17.29   2.71    Male     No  Thur   Lunch     2        20.00
64        17.59   2.64    Male     No   Sat  Dinner     3        20.23
158       13.39   2.61  Female     No   Sun  Dinner     2        16.00
51        10.29   2.60  Female     No   Sun  Dinner     2        12.89
192       28.44   2.56    Male    Yes  Thur   Lunch     2        31.00
113       23.95   2.55    Male     No   Sun  Dinner     2        26.50
41        17.46   2.54    Male     No   Sun  Dinner     2        20.00
124       12.48   2.52  Female     No  Thur   Lunch     2        15.00
161       12.66   2.50    Male     No   Sun  Dinner     2        15.16
225       16.27   2.50  Female    Yes   Fri   Lunch     2        18.77
150       14.07   2.50    Male     No   Sun  Dinner     2        16.57
203       16.40   2.50  Female    Yes  Thur   Lunch     2        18.90
213       13.27   2.50  Female    Yes   Sat  Dinner     2        15.77
122       14.26   2.50    Male     No  Thur   Lunch     2        16.76
50        12.54   2.50    Male     No   Sun  Dinner     2        15.04
100       11.35   2.50  Female    Yes   Fri  Dinner     2        13.85
102       44.30   2.50  Female    Yes   Sat  Dinner     3        46.80
31        18.35   2.50    Male     No   Sat  Dinner     4        20.85
66        16.45   2.47  Female     No   Sat  Dinner     2        18.92
33        20.69   2.45  Female     No   Sat  Dinner     4        23.14
25        17.81   2.34    Male     No   Sat  Dinner     4        20.15
38        18.69   2.31    Male     No   Sat  Dinner     3        21.00
120       11.69   2.31    Male     No  Thur   Lunch     2        14.00
144       16.43   2.30  Female     No  Thur   Lunch     2        18.73
166       20.76   2.24    Male     No   Sun  Dinner     2        23.00
40        16.04   2.24    Male     No   Sat  Dinner     3        18.28
209       12.76   2.23  Female    Yes   Sat  Dinner     2        14.99
22        15.77   2.23  Female     No   Sat  Dinner     2        18.00
220       12.16   2.20    Male    Yes   Fri   Lunch     2        14.36
74        14.73   2.20  Female     No   Sat  Dinner     2        16.93
129       22.82   2.18    Male     No  Thur   Lunch     3        25.00
69        15.01   2.09    Male    Yes   Sat  Dinner     2        17.10
48        28.55   2.05    Male     No   Sun  Dinner     3        30.60
84        15.98   2.03    Male     No  Thur   Lunch     2        18.01
208       24.27   2.03    Male    Yes   Sat  Dinner     2        26.30
193       15.48   2.02    Male    Yes  Thur   Lunch     2        17.50
201       12.74   2.01  Female    Yes  Thur   Lunch     2        14.75
68        20.23   2.01    Male     No   Sat  Dinner     2        22.24
86        13.03   2.00    Male     No  Thur   Lunch     2        15.03
196       10.34   2.00    Male    Yes  Thur   Lunch     2        12.34
187       30.46   2.00    Male    Yes   Sun  Dinner     5        32.46
241       22.67   2.00    Male    Yes   Sat  Dinner     2        24.67
240       27.18   2.00  Female    Yes   Sat  Dinner     2        29.18
6          8.77   2.00    Male     No   Sun  Dinner     2        10.77
230       24.01   2.00    Male    Yes   Sat  Dinner     4        26.01
137       14.15   2.00  Female     No  Thur   Lunch     2        16.15
26        13.37   2.00    Male     No   Sat  Dinner     2        15.37
36        16.31   2.00    Male     No   Sat  Dinner     3        18.31
198       13.00   2.00  Female    Yes  Thur   Lunch     2        15.00
226       10.09   2.00  Female    Yes   Fri   Lunch     2        12.09
199       13.51   2.00    Male    Yes  Thur   Lunch     2        15.51
202       13.00   2.00  Female    Yes  Thur   Lunch     2        15.00
61        13.81   2.00    Male    Yes   Sat  Dinner     2        15.81
27        12.69   2.00    Male     No   Sat  Dinner     2        14.69
210       30.06   2.00    Male    Yes   Sat  Dinner     3        32.06
138       16.00   2.00    Male    Yes  Thur   Lunch     2        18.00
159       16.49   2.00    Male     No   Sun  Dinner     4        18.49
169       10.63   2.00  Female    Yes   Sat  Dinner     2        12.63
149        7.51   2.00    Male     No  Thur   Lunch     2         9.51
136       10.33   2.00  Female     No  Thur   Lunch     2        12.33
151       13.13   2.00    Male     No   Sun  Dinner     2        15.13
153       24.55   2.00    Male     No   Sun  Dinner     4        26.55
154       19.77   2.00    Male     No   Sun  Dinner     4        21.77
133       12.26   2.00  Female     No  Thur   Lunch     2        14.26
128       11.38   2.00  Female     No  Thur   Lunch     2        13.38
162       16.21   2.00  Female     No   Sun  Dinner     3        18.21
163       13.81   2.00    Male     No   Sun  Dinner     2        15.81
123       15.95   2.00    Male     No  Thur   Lunch     2        17.95
127       14.52   2.00  Female     No  Thur   Lunch     2        16.52
177       14.48   2.00    Male    Yes   Sun  Dinner     2        16.48
176       17.89   2.00    Male    Yes   Sun  Dinner     2        19.89
62        11.02   1.98    Male    Yes   Sat  Dinner     2        13.00
70        12.02   1.97    Male     No   Sat  Dinner     2        13.99
8         15.04   1.96    Male     No   Sun  Dinner     2        17.00
222        8.58   1.92    Male    Yes   Fri   Lunch     1        10.50
82        10.07   1.83  Female     No  Thur   Lunch     1        11.90
118       12.43   1.80  Female     No  Thur   Lunch     2        14.23
58        11.24   1.76    Male    Yes   Sat  Dinner     2        13.00
242       17.82   1.75    Male     No   Sat  Dinner     2        19.57
148        9.78   1.73    Male     No  Thur   Lunch     2        11.51
10        10.27   1.71    Male     No   Sun  Dinner     2        11.98
121       13.42   1.68  Female     No  Thur   Lunch     2        15.10
16        10.33   1.67  Female     No   Sun  Dinner     3        12.00
1         10.34   1.66    Male     No   Sun  Dinner     3        12.00
105       15.36   1.64    Male    Yes   Sat  Dinner     2        17.00
147       11.87   1.63  Female     No  Thur   Lunch     2        13.50
168       10.59   1.61  Female    Yes   Sat  Dinner     2        12.20
224       13.42   1.58    Male    Yes   Fri   Lunch     2        15.00
12        15.42   1.57    Male     No   Sun  Dinner     2        16.99
53         9.94   1.56    Male     No   Sun  Dinner     2        11.50
97        12.03   1.50    Male    Yes   Fri  Dinner     2        13.53
99        12.46   1.50    Male     No   Fri  Dinner     2        13.96
190       15.69   1.50    Male    Yes   Sun  Dinner     2        17.19
117       10.65   1.50  Female     No  Thur   Lunch     2        12.15
132       11.17   1.50  Female     No  Thur   Lunch     2        12.67
57        26.41   1.50  Female     No   Sat  Dinner     2        27.91
217       11.59   1.50    Male    Yes   Sat  Dinner     2        13.09
130       19.08   1.50    Male     No  Thur   Lunch     2        20.58
145        8.35   1.50  Female     No  Thur   Lunch     2         9.85
126        8.52   1.48    Male     No  Thur   Lunch     2        10.00
233       10.77   1.47    Male     No   Sat  Dinner     2        12.24
30         9.55   1.45    Male     No   Sat  Dinner     2        11.00
195        7.56   1.44    Male     No  Thur   Lunch     2         9.00
218        7.74   1.44    Male    Yes   Sat  Dinner     2         9.18
146       18.64   1.36  Female     No  Thur   Lunch     3        20.00
43         9.68   1.32    Male     No   Sun  Dinner     2        11.00
75        10.51   1.25    Male     No   Sat  Dinner     2        11.76
135        8.51   1.25  Female     No  Thur   Lunch     2         9.76
235       10.07   1.25    Male     No   Sat  Dinner     2        11.32
237       32.83   1.17    Male    Yes   Sat  Dinner     2        34.00
215       12.90   1.10  Female    Yes   Sat  Dinner     2        14.00
0         16.99   1.01  Female     No   Sun  Dinner     2        18.00
236       12.60   1.00    Male    Yes   Sat  Dinner     2        13.60
111        7.25   1.00  Female     No   Sat  Dinner     1         8.25
67         3.07   1.00  Female    Yes   Sat  Dinner     1         4.07
92         5.75   1.00  Female    Yes   Fri  Dinner     2         6.75

In [51]:
tips_df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'total_bill1'],
      dtype='object')

In [52]:
left = tips_df.head(10)[['total_bill','tip']].reset_index()
right = tips_df.loc[5:15][['tip','sex']].reset_index()

In [53]:
left

   index  total_bill   tip
0      0       16.99  1.01
1      1       10.34  1.66
2      2       21.01  3.50
3      3       23.68  3.31
4      4       24.59  3.61
5      5       25.29  4.71
6      6        8.77  2.00
7      7       26.88  3.12
8      8       15.04  1.96
9      9       14.78  3.23

In [54]:
right

    index   tip     sex
0       5  4.71    Male
1       6  2.00    Male
2       7  3.12    Male
3       8  1.96    Male
4       9  3.23    Male
5      10  1.71    Male
6      11  5.00  Female
7      12  1.57    Male
8      13  3.00    Male
9      14  3.02  Female
10     15  3.92    Male

In [55]:
left.merge(right, on=['index','tip'], how='left')

   index  total_bill   tip   sex
0      0       16.99  1.01   NaN
1      1       10.34  1.66   NaN
2      2       21.01  3.50   NaN
3      3       23.68  3.31   NaN
4      4       24.59  3.61   NaN
5      5       25.29  4.71  Male
6      6        8.77  2.00  Male
7      7       26.88  3.12  Male
8      8       15.04  1.96  Male
9      9       14.78  3.23  Male